.social_popup_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f3663e6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d5291;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.social_popup_wrapper {
  display: flex;
  width: 400px;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
}

.social_popup_input_container {
  display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social_popup_login_container {
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social_popup_password_container {
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social_popup_login {
  width: 50%;
  height: 50%;
  padding-left: 5px;
  border-bottom:1px solid gray;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline:none;border-left: none;border-right: none;border-top: none;
}

.social_popup_password {
  width: 50%;
  height: 50%;
  padding-left: 5px;
  border-bottom:1px solid gray;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline:none;border-left: none;border-right: none;border-top: none;
}

.social_popup_text {
  width: 30%;
  height: auto;
  display: block;
  text-align: center;
}

.social_popup_button {
  display: flex;
  width: 200px;
  height: 40px;
  background-color: cadetblue;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social_popup_button_text {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.social_popup_button_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}












