.account_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: row;
  box-sizing: border-box;
  padding: 120px 50px 10px 120px;
}

.account_active_wrapper {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  box-shadow: 1px 0px 12px rgb(0 0 0 / 20%);
  border-radius: 12px;
}

.account_blocked_wrapper {
  display: flex;
  width: 18%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0px 12px rgb(0 0 0 / 20%);
  border-radius: 12px;
  position: fixed;
  top: 120px;
  right: 1%;
}

.account_active_container {
  display: flex;
  width: 100%;
  height: 95%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.account_title {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: steelblue;
}

.account_blocked_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 30px;
  flex-direction: row;
  background-color: rgb(249 0 0 / 21%);
  border-radius: 5px;
  color: #1827a1;
}

.account_blocked_oreder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 10%;
  height: 100%;
  font-size: 15px;
  font-weight: 800;
  font-family: cursive;
}

.account_blocked_name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.account_blocked_container {
  display: flex;
  width: 90%;
  height: auto;
}